.container#content {
  margin-top: 60px;
}
body {
  font-family: $site-font;
  font-display: swap;
  background-color: white;
}
a {
  color: #0056b3;
  &:hover {
    color: #007bff;
    text-decoration: none;
  }
}
h3 {
  text-align: center;
  margin-bottom: 20px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}
.navbar {
  background-color: whitesmoke;
  // border-right: 1px solid rgba(0, 0, 0, 0.4);
  // border-left: 1px solid rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  line-height: 1;
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-brand {
  color: #0056b3;
  &:hover {
    color: #007bff;
  }
}
ul {
  list-style: none;
  padding: 0;
}
table {
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  font-family: Arial, Helvetica, sans-serif;
}
tr:nth-child(even) {
  background-color: lightcyan;
}
tr:nth-child(odd) {
  background-color: white;
}

th {
  padding-bottom: 0.5em;
  font-size: xx-large;
  text-align: left;
  color: white;
  background-color: darkblue;
}

th,
td {
  font-weight: unset;
  padding-right: 10px;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.5em;
}
