.card {
  margin-bottom: 30px;
  background-color: $white;
  border: none;
}
.card-title {
  font-size:large;
}
.card-subtitle {
  blockquote {
    margin: 20px;
    padding: 20px;
    background-color: #E5E4E2;
  }
  ul {
    margin: 10px;
    list-style-type: circle;
  }
  li{
    margin-left:25px;
    margin:10px;
  }
}
ul.post-tags {
  padding: 0;
  display: inline-flex;
  list-style: none;

  li {
    margin-right: 10px;
  }
}
.card-post-text {
  text-rendering: optimizeLegibility;
}