blockquote p {
  margin-bottom: 0rem !important;
  margin: 10px 0; /* Adjust spacing between paragraphs */
}

pre {
  padding: 2em;
  background-color: black;
}

pre code {
  font-family: monospace;
  color: pink;
}
